# Environment variables / secrets

.env

# Python

__pycache__/
*.py[cod]

# Logs

logs/
airflow/logs/

# Generated processed data

data_sets/processed/
# Raw datasets

data_sets/*.csv

# Power BI

*.pbix

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db
